body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: white;
}

#carousel-1,
#carousel-2 {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  background: black;
}

button,
form,
span {
  display: inline;
  color: gray;
}

.photo {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.preload img{
  height:0;
  width:0;
  border:none;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border: 1px solid black;
}
