body {
  font-family: Helvetica, sans-serif;
}

#carousel {
  width: 100%;
  height: 100%;
  text-align: center;
}

#preload img{
  height:0;
  width:0;
  border:none;
}

img {
  border: 1px solid black;
}
